In [52]:
import requests
import json
from bs4 import BeautifulSoup
import lxml.html
import re
import pandas as pd

In [ ]:
aut

In [61]:
company_code = '005930'

In [62]:
url = 'http://dart.fss.or.kr/api/search.json'
data = {'auth' : '5e6489de56c39972372b8a9390b76bd934880099',
        'crp_cd' : company_code,
       'start_dt' : '20170101',
       'dsp_tp': 'A'}

In [63]:
r = requests.get(url, params=data)

In [64]:
r_url=r.json()['list'][0]['rcp_no']

In [65]:
url2 = 'http://dart.fss.or.kr/dsaf001/main.do'
data2 = {'rcpNo': r_url }

In [66]:
req = requests.get(url2, params=data2)
tree = lxml.html.fromstring(req.text)

In [67]:
onclick = tree.xpath('//*[@id="north"]/div[2]/ul/li[1]/a')[0].attrib['onclick']
pattern = re.compile("^openPdfDownload\('\d+',\s*'(\d+)'\)")
dcm_no = pattern.search(onclick).group(1)

In [68]:
url3 = 'http://dart.fss.or.kr/pdf/download/excel.do?lang=ko&rcp_no=' + str(r_url) + '&dcm_no=' + str(dcm_no)

In [69]:
df = pd.read_excel(url3, '연결 손익계산서')

In [70]:
df

                            Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0                             연결 손익계산서        NaN        NaN        NaN
1   제 50 기 2018.01.01 부터 2018.12.31 까지        NaN        NaN        NaN
2   제 49 기 2017.01.01 부터 2017.12.31 까지        NaN        NaN        NaN
3   제 48 기 2016.01.01 부터 2016.12.31 까지        NaN        NaN        NaN
4                           (단위 : 백만원)        NaN        NaN        NaN
5                                          제 50 기     제 49 기     제 48 기
6                              수익(매출액)  243771415  239575376  201866745
7                                 매출원가  132394411  129290661  120277715
8                                매출총이익  111377004  110284715   81589030
9                              판매비와관리비   52490335   56639677   52348358
10                            영업이익(손실)   58886669   53645038   29240672
11                                기타수익    1485037    3010657    3238261
12                                기타비용    1142018    1419648    2463814
13                               지분법이익     539845     201442      19501
14                                금융수익    9999321    9737391   11385645
15                                금융비용    8608896    8978913   10706613
16                     법인세비용차감전순이익(손실)   61159958   56195967   30713652
17                               법인세비용   16815101   14009220    7987560
18                          계속영업이익(손실)   44344857   42186747   22726092
19                           당기순이익(손실)   44344857   42186747   22726092
20                       당기순이익(손실)의 귀속
21          지배기업의 소유주에게 귀속되는 당기순이익(손실)   43890877   41344569   22415655
22               비지배지분에 귀속되는 당기순이익(손실)     453980     842178     310437
23                                주당이익
24                 기본주당이익(손실) (단위 : 원)       6461       5997       3159
25                 희석주당이익(손실) (단위 : 원)       6461       5997       3159